*{
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color : #FFF3E2;
}
.heading{
  text-align:center;
  padding: 5%;
  color: #E74646;
  font-family: 'Love Ya Like A Sister';
  font-size: 2.3rem;
}
.heart-1{
  float: left;
  width: 200px;
}
 .heart-2{
   float: right;
   width: 200px;
 }
.welcome-text, .calculation-text{
  font-size: 1.7rem;
  font-weight: bold;
}
.content{
  padding:3%;
  text-align: center;
}
p{
  font-size: 1.3rem;
  font-family: 'Love Ya Like A Sister';

}
.calculation{
  text-align: center;
  padding: 3%;
}
.first-person, .second-person{
  padding: 30px 30px 0 30px;
}
.btn{

}
input{
  width: 20%;
  padding: 15px;
  background: #FFE5CA;
}
input::placeholder{
  text-align: center;
  font-size: 18px;
  font-family: 'Love Ya Like A Sister';
}
button{
  margin-top:  30px;
}
.btn{
  border: none;
  color: #FFE5CA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #E74646;
  font-family:'Love Ya Like A Sister';
}
.btn:hover{
  background-color:#FA9884;
  cursor: pointer;
  border: 3px solid #A84448;
  border-radius: 3px;
}


/* Results of Love ka css */
body{
  font-family: 'Love Ya Like A Sister';
}
h1{
  text-align: center;
  padding: 3%;
  color:#E74646;
  font-weight: bold;
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
.dil{
  margin-top: 20px;
  font-size: 3rem;
}
.firstPerson{
  margin-top: 20px;
  font-size: 1.8rem;
}
.secondPerson{
  margin-top: 20px;
  font-size: 1.8rem;
}
 .loveScore{
   margin-top: 20px;
   font-size: 6rem;
 }
 .gyaan{
   margin-top: 20px;
   padding-left: 300px;
   padding-right: 300px;
 }
